# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1307: Accessible fields should begin with upper-case letter
dotnet_diagnostic.SA1307.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none
